header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100px;
  position: relative;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-bottom: 0;
  margin-left: 3rem;
}

.logo h1 a, .menu a {
  color: white;
  text-decoration: none;
}

.hamburger {
  width: 50px;
  height: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: transform .25s ease-in;
}

.menu-line {
  width: 95%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0rem 5rem;
}

.menu a {
  font-family: 'Varela Round', sans-serif;
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.show-burger {
  opacity: 1;
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-flow: column;
  top: -220px;
  left: 0;
  width: 100vw;
  text-align: center;
  padding-top: 85px;
  background-color: #cc6c6c;
  box-shadow: 1px 1px 3px #A84040;
  z-index: -1;
  /* opacity: 0; */
  transition: top .5s ease-in;
}

.sub-menu a {
  padding: 0;
  margin: .5rem;
}

.show-sub-menu {
  transition: all .5s ease-in;
  opacity: 1;
  top: 0;
}

.hamburger:hover {
  cursor: pointer;
  transform: scale(1.1);
}
